.row {
  width: 100%;
  display: flex;
}

.col_quarter {
  display: block;
  flex: 3;
  min-width: 25%;
}

.col_third {
  display: block;
  flex: 4;
  min-width: 33.3333%;
}

.col_half {
  display: block;
  flex: 6;
  min-width: 50%;
}
