.summaryTable {
  border-spacing: 0;
  font-size: 0.9rem;

  caption {
    font-weight: 600;
    text-decoration: underline;
    text-align: left;
  }

  th,
  td {
    margin: 0;
    padding: 4px;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
  }

  thead th {
    text-align: left;
  }

  tbody th {
    text-align: right;
  }
}

