.title {
  color: #333;
  font-weight: 700;
}

.marketing {
  font-size: 1em;
}

.smallTable {
  font-size: 0.9rem;
}

.marginAuto {
  margin-left: auto;
  margin-right: auto;
}

.tableColumns {
  margin-top: 1.5em;
  
  caption {
    font-size: 1.2em;
    font-weight: 500;
  }

  thead tr {
    & > th {
      width: 40px;
      text-align: center;
    }
    & > th:first-of-type {
      width: 150px;
    }
    & > th:last-of-type {
      width: 50px;
    }
  }
  tbody tr {
    td,
    th {
      text-align: right;
    }
  }
}
