.debug {
  margin: 4px;
  padding: 4px;
  border: 2px #bbb dashed;
  background: #eee url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1.1\' height=\'75px\' width=\'75px\' ><text x=\'5\' y=\'5\' fill=\'salmon\' transform=\'translate(0,10) rotate(45)\' opacity=\'0.3\' font-size=\'20\' >DEBUG</text></svg>');
}
