/*
 * Typography
 * ======================================================================== */
$font-family-base: Roboto, 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
$font-size-base: 1em;
$font-size-heading: 1.2 * $font-size-base;

$line-height-base: 1.2 * $font-size-base;
$line-height-heading: 1.2 * $font-size-heading;

/*
 * Layout
 * ======================================================================== */
$max-content-width: 1100px;

/*
 * Media queries breakpoints
 * ======================================================================== */
$screen-sm-min: 370px; /* Extra small screen / phone */
$screen-md-min: 768px; /* Small screen / tablet */
$screen-lg-min: 1180px; /* Large screen / wide desktop */

$primary-color: #373277;
$accent-color: #61dafb;

/*
 * Flex Grid and Breakpoints
 * ======================================================================== */
$grid-columns: 12;
$gutter-width: 8px;
$outer-margin: 8px;
$breakpoints:
  sm $screen-sm-min ($screen-sm-min - 16px),
  md $screen-md-min ($screen-md-min - 64px),
  lg $screen-lg-min ($screen-lg-min - 64px);
