.pagination {
  list-style: none;
}

.pagination .prev,
.pagination .next {
  display: inline-block;
  padding: .5em;
  min-width: 1em;
  line-height: .8em;
  border-radius: 4px;
  border: 1px lightgray solid;
  text-align: center;
  transition: .2s background-color;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: #ededed;
}

.pagination .prev:active,
.pagination .next:active {
  transition: .1s background-color;
  background-color: #dedede;
}

.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}
